source https://api.nuget.org/v3/index.json
nuget FSharp.Core

group Libraries
    source https://api.nuget.org/v3/index.json
    frameworks: net472, netstandard2.0

    # Be explicit about FSharp.Core 4.3.4 when designing libraries.
    # See https://fsharp.github.io/2015/04/18/fsharp-core-notes.html#fsharpcore-entries-in-project-files for additional information.
    nuget FSharp.Core 4.3.4

    nuget FParsec

group UnitTests
    source https://api.nuget.org/v3/index.json
    frameworks: net472, netcoreapp2.2

    nuget FSharp.Core
    nuget Expecto

group Build
    source https://api.nuget.org/v3/index.json

    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Testing.Expecto
    nuget Fake.DotNet.Paket
    nuget Fake.Core.ReleaseNotes